@import "bootstrap-custom";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";
@import "highlightjs";

.content-wrapper {
    margin-top: 70px;
}

.book {
    @include make-row();
}

.page-one {
    @include make-md-column(6);
}

.page-two {
    @include make-md-column(6);
}

tr td:last-child:after {
    font-family: FontAwesome;
    content: "\f054";
    float: right;
}

.subtitle {
    display: block; 
}

.devise-wrapper {
    @include make-row();

    .devise-box {
        @include make-md-column(4);
        @include make-md-column-offset(4);
    }
}

.paste-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }